.header {
    width: 100%;
    height: var(--header-height);
    border-bottom: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: var(--container-padding);
}

.header button {
    background-color: var(--green-color);
    border-radius: 0;
}