.formContainer {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--container-padding);
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
}